@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-size: 100%;
}

body {
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 0px;
    padding: 0px 0px 96px 0px;
}

/* CSS DO MENU */

.menu-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0px;
    margin: 32px 32px 0px 32px;
    gap: 1em;
}

.menu-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 0px 32px;
}

.menu-logo-img {
    width: 24px;
    height: 24px;
    margin: 0px;
}

.menu-logo-titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    margin: 0px 8px;
}

.menu-logo-titulo:hover {
    text-decoration: underline;
}

.menu-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    margin: 0px;
    gap: 1em;
}

.menu-nav-item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    margin: 0px 32px;
}

.menu-nav-item:hover {
    text-decoration: underline;
}

.menu-nav-item-contact {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    margin: 0px 0px;
}

.menu-nav-item-contact:hover {
    text-decoration: underline;
}

/* CSS MAIN CONTAINER */

/* .main-container {

} */

/* CSS BANNER */

.banner-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin: 32px 32px;
    gap: 1em;
}

.banner-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 0px 32px;
    max-width: 65%;
}

.banner-titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
    color: #464646;
    margin: 24px 0px;
    text-align: justify;
}

.banner-texto {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: #464646;
    margin: 24px 0px;
    text-align: justify;
}

.banner-link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0px;
    margin: 24px 0px;
    gap: 1em;
}

.banner-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    margin: 0px 16px 0px 0px;
}

.banner-link-item {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    margin: 0px 4px;
}

.banner-link-item:hover {
    text-decoration: underline;
}

.banner-link-img {
    width: 24px;
    height: 24px;
}

.banner-image {
    width: 368px;
    height: 368px;
    margin: 0px 0px 0px 24px;
    border-radius: 460px;
}

/* CSS SOBRE MIM */

.sobre-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px;
    margin: 32px 0px;
    background: #eaf2fd;
}

.sobre-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    margin: 10px 0px;
    max-width: 65%;
}

.sobre-titulo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #464646;
    margin: 16px 0px;
}

.sobre-texto {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    margin: 16px 0px;
    text-align: justify;
}

.sobre-link a {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #464646;
    margin: 16px 0px;
    text-align: justify;
}

.sobre-link a:hover {
    text-decoration: underline;
}

/* CSS DO RODAPÉ */

.foot {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    padding: 1em;
}

.foot p {
    font-family: 'Raleway', sans-serif;
    color: #c74634;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
}

.foot a {
    font-family: 'Raleway', sans-serif;
    color: #464646;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
}

.foot a:hover {
    text-decoration: underline;
}
